* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: #42aaff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 320px;
    height: 650px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
  }

  .zagalovok {
    display: flex;
    width: 320px;
    height: 650px;
    background: #eee;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
  }
  
  output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background: #fff;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
      inset -1px -1px 1px rgba(0, 0, 0, 0.3);
  }


    input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 30px;
    background: #fff;
    margin: 8px auto;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
      inset -1px -1px 1px rgba(0, 0, 0, 0.3);
  }

  
  .One {
       margin-bottom: 20 px;
  }
   
  button {
      position: fixed;
      margin-left: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
  } 
  
  h3 {
      margin-left: 150px;
  }
  img {
    margin-top: 50px;
    width: 300px;
    height: auto;
    margin-left: 10px;
  }